
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







a {
  text-decoration: none;
  padding: 5px;
  font-size: 110%;
  color: white;
  display:block;
}

.header {
  margin: auto;
  padding: 8px;
  background-color:lightskyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid white;
}

.footer {
  margin: auto;
  padding: 8px;
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid white;
}












/* About */

.about {
  margin: auto;
  padding: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url('https://images5.alphacoders.com/372/thumb-1920-372649.jpg');
}

.about-h1 {
  font-size: 300%;
  padding: 2rem;
  color: white;
  font-style: italic;
}

.about-bio {
  background-color: white;
  margin: auto;
  border-radius: 1rem;
  border-color: black;
  padding: 2rem;
  width: 50%;
}

.about-image {
  background-color: white;
  margin: auto;
  border-radius: 12rem;
  border-color: black;
  padding: 0.5rem;
  width: 21%;
}

.header-image {
  border-radius: 12rem;
  padding: 1rem;
}


nav {
  display: inline-block;
  padding: 0.5rem;
  text-align: right;
  text-decoration: none;
  padding: 5px;
  color: white;
  font-size: 110%;
  
}

.handles {
  display: inline-block;
  padding: 0.5rem;
  text-align: left;
  color: white;
}

.about-profile {
  padding: 2rem;
  text-align: center;
  margin: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}







#search {
  width: 40%;
  font-size: 16px;
  padding:10px;
  border: 3px solid lightgrey;
  border-radius: 5rem;;
}

#ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ul li a {
  border: 1px solid white;
  margin-top: -1px;
  background-color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}








.home {
  margin: auto;
  padding: auto;
  text-align: center;
}

.options {
  margin: auto;
}

.work {
  margin: auto;
}

.options button {
  border-radius: 2rem;
  background-color: grey;
  border: 2px solid white;
  font-style: italic;
}

.option-1 {
  background-image: url('https://static.wixstatic.com/media/8ddfc54557334e96a2eac37ab491e1c5.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01/8ddfc54557334e96a2eac37ab491e1c5.webp');
  background-repeat: no-repeat;
  border: 5px solid white;
  color: white;
  font-style: italic;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.option-2 {
  background-image: url('https://speckyboy.com/wp-content/uploads/2021/05/colorful-abstract-desktop-4k-wallpaper-01.jpg');
  background-repeat: no-repeat;
  border: 5px solid white;
  color: white;
  font-style: italic;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.work-1 {
  background-image: url('https://wallpaperaccess.com/full/2797527.jpg');
  background-repeat: no-repeat;
  border: 5px solid white;
  color: white;
  font-style: italic;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.work-2 {
  background-image: url('https://wallpaperaccess.com/full/2797527.jpg');
  background-repeat: no-repeat;
  border: 5px solid white;
  color: white;
  font-style: italic;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.hair-image {
  background-color: white;
  margin: auto;
  border-color: black;
  padding: 0.5rem;
  width: 50%;
}

.hair-image-odd {
  background-color: white;
  margin: auto;
  border-color: black;
  padding: 0.5rem;
  width: 35%;
}

.home-image {
  margin: auto;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-repeat: no-repeat;
  background-image: url('https://tipsmake.com/data2/images/download-wallpaper-surface-laptop-4-picture-2-4pr7Ugx6f.jpg');
}

.home-image h1 {
  color: white;
  font-size: 300%;
  font-style: italic;
}

.portfolio-image h1 {
  color: white;
  font-size: 300%;
  font-style: italic;
}

.home-image h3 {
  color: white;
  font-style: italic;
}

@media (max-width: 280px) {

  .about-bio {
    width: 90%;
  }

}

@media (max-width: 400px) {

  .portfolio-image h1 {
    font-size: 100%;
  }
  
}

@media (min-width: 400px) {

  .options {
    display: flex;
  }

  .option-1 {
    width: 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  
  .option-2 {
    width: 50%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .work {
    display: flex;
  }

  .work-1 {
    width: 50%;
    padding-top: 24rem;
    padding-bottom: 24rem;
  }
  
  .work-2 {
    width: 50%;
    padding-top: 24rem;
    padding-bottom: 24rem;
  }

}