
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 10;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  padding: 5px;
  font-size: 110%;
  color: white;
  display:block;
}

.header {
  margin: auto;
  padding: 8px;
  background-color:lightskyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid white;
}

.footer {
  margin: auto;
  padding: 8px;
  background-color: lightpink;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid white;
}

.about {
  margin: auto;
  padding: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url('https://images5.alphacoders.com/372/thumb-1920-372649.jpg');
}

.about-h1 {
  font-size: 300%;
  padding: 2rem;
  color: white;
  font-style: italic;
}

.about-bio {
  background-color: white;
  margin: auto;
  border-radius: 1rem;
  border-color: black;
  padding: 2rem;
  width: 21%;
}

.header-image {
  border-radius: 12rem;
  padding: 1rem;
}

.about-image {
  border-radius: 13rem;
  margin: auto;
  border: 5px solid white;
}

nav {
  display: inline-block;
  padding: 0.5rem;
  text-align: right;
  text-decoration: none;
  padding: 5px;
  color: white;
  font-size: 110%;
  
}

.handles {
  display: inline-block;
  padding: 0.5rem;
  text-align: left;
  color: white;
}

.about-profile {
  padding: 0.5rem;
}

#search {
  width: 40%;
  font-size: 16px;
  padding:10px;
  border: 3px solid lightgrey;
  border-radius: 5rem;;
}

#ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#ul li a {
  border: 1px solid white;
  margin-top: -1px;
  background-color: white;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

@media (max-width: 400px) {
  .about-bio {
    width: 70%;
  }
}